.main-content__link-wrap {
  display:        flex;
  flex-direction: column;

  justify-self: start;
  align-self: end;
  }

@media screen and (max-width: 767px) {
  .main-content__link-wrap {
    margin: 0 16px;
    }
  }
