.advertise__text {
  max-width:   360px;
  min-width:   288px;
  margin:      0 auto;
  text-align:  center;
  line-height: 22px;
  }


@media screen  and (max-width: 767px) {
  .advertise__text {
    font-size:   calc((100vw * 2 / 448) + (16px - 2 / 448 * 768px));
    line-height: calc((100vw * 4 / 448) + (22px - 4 / 448 * 768px));
    max-width:   calc((100vw * 72 / 448) + (360px - 72 / 448 * 768px));
    }
  }
