.advertise__title {
  margin:            calc(245 / 1184 * 100%) 0;
  align-self:        center;
  justify-self:      center;
  grid-column-start: 1;
  grid-column-end:   2;
  grid-row-start:    1;
  grid-row-end:      2;
  z-index:           2;
  color:             #fff;
  }

@media screen and (max-width: 1279px) {
  .advertise__title {
    margin: calc(195 / 1024 * 100%) 0;
    }
  }

@media screen and (max-width: 1023px) {
  .advertise__title {
    margin: calc(115 / 768 * 100%) 0;
    }
  }


@media screen and (max-width: 767px) {
  .advertise__title {
    margin: calc(33 / 320 * 100%) 0;
    }
  }


