.advertise {
  max-width:             1184px;
  margin:                92px auto;
  display:               grid;
  grid-template-columns: 1fr;
  grid-template-rows:    1fr;
  background:            url(../../images/cover-trains.jpg) no-repeat center;
  background-size:       cover;
  overflow:              hidden;
  text-decoration:       none;
  }

@media screen and (max-width: 1023px) {
  .advertise {
    margin: 89px 0;
    }
  }

@media screen and (max-width: 767px) {
  .advertise {
    margin: 66px 0 64px;
    }
  }



