.advertise__header {
  max-width:      560px;
  min-width:      288px;
  padding-bottom: 32px;
  text-align:     center;
  margin:         0 auto;
  }

@media screen  and (max-width: 1023px) {
  .advertise__header {
    font-size:   72px;
    line-height: 76px;
    }
  }

@media screen  and (max-width: 767px) {
  .advertise__header {
    font-size:   calc((100vw * 40 / 448) + (72px - 40 / 448 * 768px));
    line-height: calc((100vw * 41 / 448) + (76px - 41 / 448 * 768px));
    max-width:   calc((100vw * 272 / 448) + (560px - 272 / 448 * 768px));
    }
  }
